<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('dash/assets/img/favicon - Copy.png') }}" rel="icon">
    <link href="{{ asset('dash/assets/img/favicon - Copy.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files via CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.bubble.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-datatables/1.1.8/style.css" rel="stylesheet" />

    <!-- Stylesheet Leaflet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />

    <!-- Tambahkan CSS Leaflet Browser Print Plugin -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.browser.print/dist/leaflet.browser.print.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>


    <!-- Template Main CSS File -->
    <link href="{{ asset('dash/assets/css/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ route('dashboard') }}" class="logo d-flex align-items-center justify-content-center">
                <img src="{{ asset('dash/assets/img/logo-kab-bantul.png') }}" alt="">
                <span class="d-none d-lg-block">SIPALAH</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        @if ($user->foto_profile)
                            <img src="{{ route('profile.picture', ['filename' => basename($user->foto_profile)]) }}"
                                alt="Profile" class="rounded-circle">
                        @else
                            <p>No profile picture</p>
                        @endif
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ $user->username }}</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ $user->username }}</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ route('dashboard.profile') }}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ route('dashboard.profile') }}">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <form id="logout-form" action="{{ route('logout') }}" method="POST"
                                style="display: none;">
                                @csrf
                            </form>
                            <a class="dropdown-item d-flex align-items-center" href="#"
                                onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-heading">Menu</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ route('dashboard') }}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Laporan</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ route('dashboard.laporan') }}">
                            <i class="bi bi-circle"></i><span>Daftar Laporan</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('dashboard.laporan.validasi') }}">
                            <i class="bi bi-circle"></i><span>Validasi</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->

            <li class="nav-item">
                <a class="nav-link " data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-map"></i><span>Pemetaan</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ route('dashboard.peta') }}">
                            <i class="bi bi-circle"></i><span>Peta Lahan</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('dashboard.peta.pemetaan') }}" class="active">
                            <i class="bi bi-circle"></i><span>Pemetaan</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Charts Nav -->

            <li class="nav-heading">Settings</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ route('dashboard.profile') }}">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                    onclick="event.preventDefault(); 
                  document.getElementById('logout-form').submit();">
                    <i class="bi bi-box-arrow-left"></i>
                    <span>Logout</span>
                </a>
            </li><!-- End Login Page Nav -->

            <!-- Form Logout (Tersembunyi) -->
            <form id="logout-form" action="#" method="POST" style="display: none;">
                @csrf
            </form>
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Pemetaan</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ route('dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item">Pemetaan</li>
                    <li class="breadcrumb-item active">Pemetaan Lahan</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <!-- Peta -->
        <!-- Tambahkan Stylesheet dan Script Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

        <section class="section">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Peta Lahan</h5>
                        <!-- Tambahkan elemen div dengan ID map -->
                        <div id="map" style="height: 600px;"></div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            <strong><span>Balai Penyuluhan Pertanian Kapanewon Kasihan</span></strong>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@1.1.8/dist/simple-datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tinymce@6.6.0/tinymce.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/PHPMailer/PHPMailer@6.6.4/src/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('dash') }}/assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Load Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Load Leaflet Browser Print Plugin JS via CDN -->
    <script src="https://unpkg.com/leaflet.browser.print/dist/leaflet.browser.print.min.js"></script>
    <script src="https://unpkg.com/leaflet-image@0.4.1/leaflet-image.js"></script>

    <!-- Draw -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

        <!-- Load jQuery untuk klik tombol -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            // Inisiasi peta Leaflet
            var map = L.map('map').setView([-7.7650, 110.358], 13);

            // Tambahkan berbagai tile layer
            var peta1 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }); // Street

            var peta2 = L.tileLayer('http://{s}.google.com/vt?lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(map); // Satellite

            var peta3 = L.tileLayer('http://{s}.google.com/vt?lyrs=s,h&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }); // Hybrid

            // Fungsi pop-up untuk fitur GeoJSON
            function popUp(feature, layer) {
                var popupContent = "<div style='text-align: center;'><h6>Keterangan</h6></div>";
                if (feature.properties) {
                    if (feature.properties.jenis === "PERSAWAHAN") {
                        popupContent +=
                            "<table style='width:100%; text-align:left;'><tr><td><strong>Kategori</strong></td><td>: " + (
                                feature.properties.kategori || "Tidak tersedia") +
                            "</td></tr><tr><td><strong>Jenis</strong></td><td>: " + (feature.properties.jenis ||
                                "Tidak tersedia") +
                            "</td></tr><tr><td><strong>Luas</strong></td><td>: " + (feature.properties.luas_ha ||
                                "Tidak tersedia") +
                            " ha</td></tr></table>";
                    } else if (feature.properties.ogc_fid === 68.0) {
                        popupContent +=
                            "<table style='width:100%; text-align:left;'><tr><td><strong>Kecamatan</strong></td><td>: " + (
                                feature.properties.kecamatan || "Tidak tersedia") +
                            "</td></tr><tr><td><strong>Desa</strong></td><td>: " + (feature.properties.desa ||
                                "Tidak tersedia") +
                            "</td></tr></table>";
                    } else {
                        popupContent += "<p>Informasi tidak tersedia untuk ID ini.</p>";
                    }
                }
                layer.bindPopup(popupContent);
            }

            // Fungsi untuk memuat GeoJSON dengan layer tertentu
            function loadGeoJSON(url, layerName, style) {
                return fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Loaded GeoJSON data:", data);
                        var geoJsonLayer = L.geoJSON(data, {
                            onEachFeature: popUp,
                            style: style
                        }).addTo(map);
                        overlayMaps[layerName] = geoJsonLayer;
                        map.fitBounds(geoJsonLayer.getBounds());
                    })
                    .catch(error => console.log('Error:', error));
            }

            // Definisikan style untuk layer GeoJSON
            function getStyleForId(id) {
                console.log("Getting style for ID:", id);
                if (id === 1) {
                    return {
                        color: 'darkgreen',
                        weight: 1,
                        opacity: 1,
                        fillColor: 'lightgreen',
                        fillOpacity: 0.9,
                        zIndex: 1
                    };
                } else if (id === 2) {
                    return {
                        color: 'black',
                        weight: 1,
                        opacity: 1,
                        fillColor: 'lightyellow',
                        fillOpacity: 0.5,
                        zIndex: 1
                    };
                }
            }

            var overlayMaps = {};
            var baseMaps = {
                "Streets": peta1,
                "Satellite": peta2,
                "Hybrid": peta3
            };

            Promise.all([
                loadGeoJSON('/geojson/2', "Batas Wilayah", getStyleForId(2)),
                loadGeoJSON('/geojson/1', "Sawah", getStyleForId(1))
            ]).then(() => {
                L.control.layers(baseMaps, overlayMaps).addTo(map);
                // Log untuk memastikan GeoJSON dimuat
                console.log("GeoJSON layers loaded:", overlayMaps);
            });

            // Inisialisasi Leaflet Browser Print Plugin
            L.control.browserPrint({
                title: 'Cetak Peta',
                documentTitle: 'Peta Lahan',
                printLayer: loadGeoJSON, // Layer yang akan dicetak
                closePopupsOnPrint: true
            }).addTo(map);

            // Script untuk mengunduh peta sebagai PDF menggunakan Plugin
            $(document).ready(function() {
                $('#printMap').click(function() {
                    map.browserPrint().printMap(
                        'CurrentSize'
                    ); // Anda dapat mengganti 'CurrentSize' dengan opsi lain seperti 'A4Landscape'
                });
            });
        </script>
</body>

</html>

var redIcon = L.icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
});

var yellowIcon = L.icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
});

var greenIcon = L.icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
});